.back{
   background-image: url(https://i.imgur.com/EagUoid.png); 

}
.bar{
    display:flex;
    justify-content:center;
}
.title{
    text-align: center;    

}
.text-decoration-none{
    text-decoration: none;
}
.cursor{
    cursor:pointer;
    color:#ffffff;
    -webkit-text-stroke-width: 1px; /* largura da borda */
    -webkit-text-stroke-color: rgb(73, 197, 191); /* cor da borda */
}

