.box1{
    background-image: url(https://i.imgur.com/EagUoid.png);
    height: 120px;
    padding-bottom: 10px;
    
    
}
.box2{
    background-image: url(https://i.imgur.com/EagUoid.png); 
    height: 60px;
}
.redes{
    font-size: 40px!important;
    color: #134631;
}
.textos1{
    color: #123d23;
}